# Surface parameters
mode ccakev1
coordinate_system hyperbolic
dimension 2
use_mub true
use_mus true
use_muq true

# Sampling parameters
samples 5000
sampling_method regular
delta_f_shear false
force_temperature false

# Numerical parameters
seed -1
y_max 5

# File paths
input_file /taiga/illinois/eng/physics/jnorhos/CCAKE/BSQ/results/PbPb_5d02TeV_sigma0d30_centrality0-5_Nevents300_normalization125_CCAKE0d080d0/CCAKE/event_100/freeze_out_e/sbvfreezeout_ev0.dat
output_file /u/kpala/git_repos/paper/test_chain/models/BQSSampler/analytical/build/ccake_idealgas_posonly.dat
tables_path /u/kpala/git_repos/paper/test_chain/tables/BQSSampler
